<div class="new-wrapper">
  <div class="header">
    <h1 class="header-text">Welcome to ASCII LAND</h1>
    <h2 class="subheader-text">Transform your vidoes into ascii art</h2>
  </div>
</div>



<div class="upload-button-wrapper">
  <%= link_to '<button class="upload-video-button" type="button">Process!</button>'.html_safe, video_path(@video) %>
</div>

