<div class="new-wrapper">
  <div class="header">
    <h1 class="header-text">Welcome to ASCII LAND</h1>
    <h2 class="subheader-text">Transform your vidoes into ascii art</h2>
  </div>

<div class="upload-button-wrapper">
  <%= render 'form', video: @video %>
</div>
</div>

<%= render 'form', video: @video %>

<%= link_to 'Show', @video %> |
<%= link_to 'Back', videos_path %>
