<div class="whole-wrapper">


  <div class="new-wrapper">
    <h3 class="header-text">Welcome to </h3>
    <div class="header">
      <h2 class="subheader-text">Transform your videos into ascii art</h2>
      <h5>With new video warping capabilities!</h5>
    </div>

    <div class="upload-button-wrapper">
      <%= render 'form', video: @video %>
    </div>
    </div>
  </div>

  <!-- link_to 'Back', videos_path  -->
